@using Microsoft.AspNet.Identity
@using System.Security.Claims

@if (User.IsSignedIn())
{
    using (Html.BeginForm("logoff", "account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <span class="element">
            <a class="lnk" href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
        </span>

        @*if (UserHelper.HasRoleForCurrentUser("Admin"))
        {
            <span class="element">
                @Html.ActionLink("Administration", "index", "admin", routeValues: null, htmlAttributes: new { @class = "lnk", title = "Administration" })
            </span>
        }*@

        <span class="element">
            @Html.ActionLink("Préférences", "index", "manage", routeValues: null, htmlAttributes: new { @class = "lnk", title = "Manage" })
        </span>
    }
}
else
{
    <span class="element">
        @Html.ActionLink("S’inscrire", "register", "account", routeValues: null, htmlAttributes: new { @class = "lnk", id = "registerLink" })
    </span>
    <span class="element">
        @Html.ActionLink("Se connecter", "login", "account", routeValues: null, htmlAttributes: new { @class = "lnk", id = "loginLink" })
    </span>
}
