<nav class="admin">
    <ul>
        <li data-href="@Url.Action("index", "admin")">
            <a asp-controller="admin" asp-action="index" class="no-style" title="Administration">Administration</a>
        </li>
        <li data-href="@Url.Action("articles", "admin")">
            <a asp-controller="admin" asp-action="articles" class="no-style" title="Articles">Articles</a>
        </li>
        <li data-href="@Url.Action("categories", "admin")">
            <a asp-controller="admin" asp-action="categories" class="no-style" title="Catégories">Catégories</a>
        </li>
        <li data-href="@Url.Action("comments", "admin")">
            <span style="text-decoration:line-through;">
                <a asp-controller="admin" asp-action="comments" class="no-style" title="Commentaires">Commentaires</a>
            </span>
        </li>
        <li data-href="@Url.Action("users", "admin")">
            <a asp-controller="admin" asp-action="users" class="no-style" title="Utilisateurs">Utilisateurs</a>
        </li>
        <li data-href="@Url.Action("planet", "admin")">
            <span style="text-decoration:line-through;">
                <a asp-controller="admin" asp-action="planet" class="no-style" title="Planète">Planète</a>
            </span>
        </li>
    </ul>
</nav>
