@model MyTryHard.ViewModels.Tracker.TrackerViewModel
@using MyTryHard.Models.Tracker

<div id="tracker">
    <h1>Fitness Tracker</h1>
    <p>
        Le Fitness Tracker permet d'enregistrer vos performance et
        de générer les statistiques par rapport à ceux-ci.
    </p>
    <div>
        <a asp-action="add" title="Ajouter un temps">Ajouter un suivi</a>
        <form asp-controller="tracker" asp-action="entriesredirect" method="get" role="form" style="float:right;">
            <select name="sportId" id="sportId">
                <option value="-1">Tous</option>
                @foreach (KeyValuePair<int, string> kvp in Model.SportsList)
                {
                    if (kvp.Key == ViewBag.SportId)
                    {
                        <option value="@kvp.Key" selected="selected">@kvp.Value</option>
                    }
                    else
                    {
                        <option value="@kvp.Key">@kvp.Value</option>
                    }
                }
            </select>
            <input type="submit" value="Filtrer!" />
        </form>
        <div style="clear:both;"></div>
    </div>
    @if (Model.Entries.Count == 0)
    {
        <p class="message">
            Aucun suivi entré!
        </p>
    }
    else
    {
        <table class="tracker-summary">
            <tr>
                <th>Sport</th>
                <th>Date</th>
                <th>Temps</th>
                <th>Distance</th>
            </tr>
            <tr class="explanation">
                <td></td>
                <td><em>(aa-mm-jj)</em></td>
                <td><em>(hh:mm:ss:uu)</em></td>
                <td><em>mètres</em></td>
            </tr>

            @foreach (TrackerEntry entry in Model.Entries)
            {
                <tr class="entry">
                    <td>@entry.SportName</td>
                    <td>@entry.DateTimeStart.Date.ToString("yyyy-MM-dd")</td>
                    <td>@entry.DateTimeEnd.Subtract(entry.DateTimeStart).ToString("h\\h\\ mm\\m\\ ss\\.fff\\s")</td>
                    <td>@entry.Distance </td>
                </tr>
            }
        </table>
    }

</div>